@import '../../styles/variables.styl'

.colorbar
  padding: 5px

  &__default-palette
    padding-bottom: 10px
    border-bottom: 1px solid #6d858e
    box-shadow: #384f58 0px 1px 0px

  &__label
    padding: 8px
    padding-bottom: 10px
    color: #6d858e
