@import '../../styles/variables.styl'

.colorbar
  padding: 5px
  user-select: none

  &:hover
    user-select: auto

  &__default-palette
    padding-bottom: 10px
    border-bottom: 1px solid colors['greyblue']
    box-shadow: #384f58 0px 1px 0px

  &__user-palette
    border-bottom: 1px solid colors['greyblue']
    padding-bottom: 10px
    box-shadow: 0 1px 0 #384f58

    &-wrapper
      overflow: auto
      max-height: 160px

  &__label
    padding: 8px
    padding-bottom: 10px
    color: colors['greyblue']
    user-select: none
