@import '../../styles/variables.styl'

.apptoolbox
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 210px
  height: 60px
  padding: 5px
  margin: 0 auto
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  border: 1px solid #40606d
  box-shadow: 0 1px 1px #40606d
  background: #365561

  &__buttons
    width: 100%
    height: 100%
    display: flex
    margin: 0
    padding: 0
    align-items: center
    justify-content: center
    list-style-type: none

    &-button
      height: 50px
      width: 50px
      display: inline-block
      padding: 0 0px
      background: transparent
      //background: #264653
      // border-right: 1px solid #40606d
      cursor: pointer

      &:hover
        background: #40606d

      &-icon
        fill: #b7b7b7
        margin: 10px

      &:first-child
        border-bottom-left-radius: 3px
        border-top-left-radius: 3px

      &:last-child
        border-bottom-right-radius: 3px
        border-top-right-radius: 3px

