@import '../../styles/variables.styl'

.framebar
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 60%
  min-width: 550px
  max-width: 850px
  height: 180px
  padding: 5px 10px 0
  margin: 0 auto
  border: 1px solid #3a3a3a
  border-bottom: 0
  border-top-right-radius: 6px
  border-top-left-radius: 6px
  box-shadow: 0px 2px 4px #000000
  background: colors['blue']

  &__controls
    display: flex
    margin-bottom: 2px

  &__gif-controls
    height: 50px
    display: inline-flex
    padding-right: 9px
    align-items: center

  &__gif-slider[type=range]
    width: 100px
    margin-left: 0
    display: inline-block

    &::-webkit-slider-thumb
      background-color: #1b2631

  &__frames-controls
    width: 100%
    height: 50px
    display: inline-flex
    margin: 0
    padding: 0
    align-items: center
    justify-content: center
    list-style-type: none

  &__framename
    height: 50px

    &-input
      width: 100px
      height: 20px
      padding-left: 3px
      margin-top: 15px
      display: inline-block
      font-family: robotothin
      font-size: 0.9em
      border-width: 0 0 2px
      color: #fff
      background: #264653
      outline: none
