@import '../../styles/variables.styl'

.framebar
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 600px
    height: 100px
    margin: 0 auto
    border-top-right-radius: 6px
    border-top-left-radius: 6px
    background: colors['blue']

