@import '../../styles/variables.styl'

.framebar
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 650px
  height: 180px
  padding: 10px
  margin: 0 auto
  border-top-right-radius: 6px
  border-top-left-radius: 6px
  background: colors['blue']

  &__frames-controls
    width: 240px
    height: 60px
    left: 0
    right: 0
    margin: 0 auto
