@font-face
    font-family: 'robotobold'
    src: url('../fonts/Roboto-Bold.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'robotothin'
    src: url('../fonts/Roboto-Thin.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'roboto'
    src: url('../fonts/Roboto-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'manaspace'
    src: url('../fonts/Manaspace.woff') format('woff')
    font-weight: normal
    font-style: normal
