@import './fonts.styl'
@import './variables.styl'

*
  box-sizing: border-box

  &::-webkit-scrollbar
    width:  0.5em
    height: 0.5em

  &::-webkit-scrollbar-thumb
    background: #708090

  &::-webkit-scrollbar-track
    background: #a9b3bd

body, html, #root
  width: 100%
  height: 100%
  clear: both
  margin: 0
  padding: 0
  outline: 0
  overflow: hidden;

body
  font-family: 'Roboto'

input[type=range]
  display: block
  -webkit-appearance: none
  background-color: silver
  height: 2px
  margin: 0 auto
  width: 90%
  outline: none

input[type=range]::-webkit-slider-thumb
  -webkit-appearance: none
  background-color: colors['seagreen']
  border: 2px solid colors['blue']
  width: 20px
  height: 20px
  border-radius: 50%
  cursor: pointer

input[type=range]::-moz-range-thumb
  background-color: colors['seagreen']
  border: 2px solid colors['blue']
  width: 20px
  height: 20px
  border-radius: 50%
  cursor: pointer

// this stuff is not working... without padding in input
input[type=range]::-ms-thumb
  background-color: colors['seagreen']
  border: 2px solid colors['blue']
  width: 20px
  height: 20px
  border-radius: 50%
  cursor: pointer

[data-tooltip]
  &:before
    content: attr(data-tooltip)
    position: absolute
    white-space: nowrap
    padding: 3px 6px
    font-size: 0.8em
    border-radius: 4px
    font-family: robotothin
    background: #264653
    color: #ebebeb
    pointer-events: none
    display: block
    opacity: 0
    text-transform: capitalize
    transition: opacity .2s

  &:hover:before
    opacity: 1

.tooltip-bottom[data-tooltip]
  &:before
    top: calc(100% + 7px)

.tooltip-right[data-tooltip]
  &:before
    left: calc(100% + 7px)

.tooltip-top[data-tooltip]
  &:before
    bottom: calc(100% + 7px)
