@import './fonts.styl'
@import './variables.styl'

*
  box-sizing: border-box

body, html, #root
  width: 100%
  height: 100%
  clear: both
  margin: 0
  padding: 0
  outline: 0
  overflow: hidden;

body
  font-family: 'Roboto'
