@import './fonts.styl'
@import './variables.styl'

*
  box-sizing: border-box

body, html, #root
  width: 100%
  height: 100%
  clear: both
  margin: 0
  padding: 0
  outline: 0
  overflow: hidden;

body
  font-family: 'Roboto'

input[type=range]
  display: block
  -webkit-appearance: none
  background-color: silver
  height: 2px
  margin: 0 auto
  width: 90%
  outline: none

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance: none
  background-color: colors['seagreen']
  border: 2px solid colors['blue']
  width: 20px
  height: 20px
  border-radius: 50%
  cursor: pointer
