pixelize()
  image-rendering: -moz-crisp-edges          // FF 6.0+
  image-rendering: -webkit-optimize-contrast // Safari
  image-rendering: -o-crisp-edges            // Opera (12.02+)
  image-rendering: pixelated                 // normal browsers
  -ms-interpolation-mode: nearest-neighbor   // IE
