colors2 = {
  red: #EB7260,
  green: #29ABA4,
  lightblue: #77C5F7,
  darkblue: #354458
}

colors3 = {
  seablue: #247BA0,
  green: #70C1B3,
  seagreen: #B2DBBF,
  yellow: #F3FFBD,
  pink: #FF1654
}

colors1 = {
  blue: #264653,
  green: #2A9D8F,
  yellow: #E9C46A,
  orange: #F4A261,
  red: #E76F51
}

colors = {
  blue: #264653,
  paleblue: #516b75
  deeppaleblue: #40606d
  green: #2A9D8F,
  yellow: #E9C46A,
  orange: #F4A261,
  red: #E76F51,
  seagreen: #70C1B3,
  seagreenlight: #89dcce,
  grey: #b7b7b7,
  greyblue: #6d858e
}
