@import '../../styles/variables.styl'

.toolbar
  width: 70px
  height: 490px
  top: 50%
  transform: translateY(-50%)
  position: relative
  border-radius: 6px
  z-index: 1
  background: colors['blue']

  &__buttonlist
    margin: 0
    padding: 0
    list-style-type: none
