@import '../../styles/variables.styl'

.app
  height: 100%
  width: 100%
  display: flex
  flex-direction: row
  background: colors['paleblue']

  &__content
    flex-grow: 1
    height: 100%
    position: relative
