.about-section
  min-width: 100%
  bottom: 0
  position: absolute
  padding: 10px 10px 20px
  font-size: 0.8em
  font-family: robotothin
  text-align: center
  line-height: 1.3em
  color: #b7b7b7

  a
    color: #7b7d7d
