.apptoolbutton
  position: relative
  height: 50px
  width: 50px
  display: inline-block
  padding: 0 0px
  background: transparent
  //background: #264653
  // border-right: 1px solid #40606d
  cursor: pointer

  &:hover
    background: #40606d

  &--disabled
    opacity: 0.5

  &__icon
    fill: #b7b7b7
    margin: 10px

  &:first-child
    border-bottom-left-radius: 3px
    border-top-left-radius: 3px

  &:last-child
    border-bottom-right-radius: 3px
    border-top-right-radius: 3px
