.settings
  &__dimensions
    display: flex
    margin-bottom: 7px
    padding-bottom: 20px
    border-bottom: 1px solid #e0e0e0

    &-inputs
      min-height: 100px

      &-error
        display: inline-block
        padding-top: 10px
        font-size: 0.8em
        color: #9a1000

    &-edit
      flex: 1
      margin-right: 15px
      border-right: 1px solid #e0e0e0

      &__ratio.togglecheckbox
        padding-top: 20px

    &-modifiers
      &__anchors
        margin: 0 10px

      &__stretch.togglecheckbox
        padding-top: 17px

  &__inputlabel
    width: 60px
    display: inline-block
    vertical-align: bottom

  &__inputinline
    width: 70px
    height: 35px
    display: inline-block
    margin-left: 10px
    text-align: center
    font-family: robotothin
    font-size: 20px
    border-width: 0 0 2px
    color: #264653
    background: transparent
    outline: none
