@import '../../styles/variables.styl'

.color
  width: 45px
  height: 45px
  margin: 4px 5px
  line-height: 44px
  display: inline-block
  border-radius: 50%
  text-align: center
  vertical-align: middle
  font-size: 0.6em
  transition: color 400ms
  cursor: pointer

  &.active
    border: 2px solid #ffffff

  &:hover
    color: colors['grey'] !important
    text-shadow: #7b7b7b 0 0 1px
