.framescontainer
  width: 100%
  display: flex

  &__gif-container
    width: 110px
    height: 100px
    padding-right: 10px
    border-right: 1px solid #6d858e
    box-shadow: 1px 0px 0 #384f58

  &__gif
    width: 100%
    height: 100%
    background: grey

  &__frames
    flex-grow: 1
    padding-left: 10px

    &-addframe
      height: 90px
      width: 90px
      position: relative
      display: inline-block
      margin: 5px 0
      vertical-align: top
      border: 4px dashed #1b2631

      &__icon
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto
        fill: #1b2631
