@import '../../styles/mixins.styl'

.framescontainer
  width: 100%
  display: flex

  &.hidden
    visibility: hidden

  &__gif-container
    width: 110px
    min-width: 110px
    height: 100px
    padding-right: 10px
    border-right: 1px solid #6d858e
    box-shadow: 1px 0px 0 #384f58

  &__gif
    width: 100%
    height: 100%
    position: relative
    text-align: center
    background: #1b2631
    border: 4px solid #1b2631

    &-image
      display: inline-block

      img
        width: 100%
        height: 100%
        background: url(../../images/tile-light.png) repeat
        pixelize()

    &-fps
      width: 40px
      height: 20px
      position: absolute
      right: 0
      top: 0
      text-align: center
      font-size: .9em
      opacity: 0.8
      color: #5b5c5d
      background: #b7b7b7

  &__frames
    flex-grow: 1
    display: block
    padding-left: 10px
    overflow: auto
    overflow-y: hidden
    white-space: nowrap

    &-addframe
      height: 90px
      width: 90px
      position: relative
      display: inline-block
      margin: 5px 0
      vertical-align: top
      border: 4px dashed #1b2631
      fill: #1b2631
      transition: border-color 200ms, fill 200ms
      cursor: pointer

      &:hover
        border-color: #b7b7b7
        fill: #b7b7b7

      &__icon
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto
        fill: inherit


.framescontainer__gif-loading
  position: relative
  width: 70px
  height: 20px
  top: calc(50% - 10px)
  left: calc(50% - 35px)

  &:after
    content: "LOADING"
    color: #fff
    font-family: Roboto
    font-weight: 200
    font-size: 16px
    position: absolute
    width: 100%
    height: 20px
    line-height: 20px
    left: 0
    top: 0
    background-color: #1b2631
    z-index: 1

  &:before
    content: ""
    position: absolute
    background-color: #fff
    top: -5px
    left: 0px
    height: 30px
    width: 0px
    z-index: 0
    opacity: 1
    transform-origin:  100% 0%
    animation: framesloader 5s ease-in-out infinite

@keyframes framesloader
  0%
    width: 0px
  70%
    width: 100%
    opacity: 1
  90%
    opacity: 0
    width: 100%
  100%
    opacity: 0
    width: 0px
