.colorpicker
  height: 50px;

  input
    width: 100%
    display: inline-block
    margin-top: 12px
    font-size: 15px
    color: #fff
    padding: 0px
    border-width: 0px 0px 2px
    outline: none
    height: 30px
    background: #264653
