.newproject-import
  display: flex
  border-top: 1px solid #e0e0e0
  margin-top: 10px
  padding-top: 20px
  padding-bottom: 10px

  &__upload
    flex: 1

    &-btn
      display: inline-block
      width: auto
      height: 40px
      color: #fff
      background-color: #264653
      padding: 0 29px
      vertical-align: middle
      text-align: center
      line-height: 40px
      box-shadow: 0 3px 5px rgba(0,0,0,.15), 0 3px 5px rgba(0,0,0,.2)
      transition: background-color .3s
      cursor: pointer

      &:hover
        background-color: #40606d

      &__icon
        margin-left: 10px
        vertical-align: text-bottom
        fill: #fff

  &__info
    flex: 1

    &-file
      margin: 0
      line-height: 2.4em
      font-weight: bold

    &-row
      display: block
      margin: 0
      font-size: 0.8em
      line-height: 20px

      &__note
        font-weight: bold

  &__warning
    font-size: 0.8em
