.framebutton
  width: 40px
  height: 40px
  // margin-right: 10px
  background: #264653
  border-right: 1px solid #40606d
  display: inline-block
  cursor: pointer

  &:last-child
    border: none

  &:hover
    background: #40606d

  &__icon
    margin: 8px
    fill: #b7b7b7
