.framebutton
  width: 40px
  height: 40px
  // margin-right: 10px
  background: #264653
  display: inline-block
  cursor: pointer

  &:hover
    background: #40606d

  &__icon
    margin: 8px
    fill: #b7b7b7
