@import '../../styles/variables.styl'

.surface
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  &__drawer
    width: 700px
    height: 700px
    position: relative
    background:  url('../../images/tile-light.png') repeat;
    // colors['deeppaleblue']

    canvas
      width: 100%
      height: 100%
      position: absolute
